[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.12"

[packages]
pandas = "*"
numpy = "*"
flask = "*"
apscheduler = "*"
python-dotenv = "*"
chronos-forecasting = "*"
torch = "*"

[dev-packages]
pytest = "*"

[scripts]
start = "python project/app.py"
