[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
matplotlib = "*"
requests = "*"
pandas = "*"
numpy = "*"
lightgbm = "*"

[dev-packages]

[requires]
python_version = "3.8"
