[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
pandas = "*"
lightgbm = "*"
holidays = "*"
flask-caching = "*"
flask_crontab = "*"
xgboost = "*"
scikit-learn = "*"
supabase = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
