[Unit]
Description=APISIX Dashboard
Wants=network-online.target
After=network-online.target

[Container]
Image=apache/apisix-dashboard
ContainerName=apisix_dashboard
Volume=./config/apisix_dashboard_conf/conf.yaml:/usr/local/apisix-dashboard/conf/conf.yaml:Z
Pod=cph-security.pod

[Service]
Restart=always

[Install]
WantedBy=default.target