[Unit]
Description=Swagger UI for CPH API
Requires=cph_postgres_db.service
After=cph_postgres_db.service

[Container]
Image=swaggerapi/swagger-ui:latest
ContainerName=cph_swagger-ui
EnvironmentFile=/root/waitport/cph-security.env
Pod=cph-security.pod

[Service]
Restart=always

[Install]
WantedBy=default.target