[Unit]
Description=Universal Fetchtime Service
Requires=cph_postgres_db.service
After=cph_postgres_db.service

[Container]
Image=ghcr.io/simonottosen/cph-security_fetchtime:main
ContainerName=universal_fetchtime
User=user
EnvironmentFile=/root/waitport/cph-security.env
Volume=./keyfile.json:/home/user/app/keyfile.json:ro
Pod=cph-security.pod

[Service]
Restart=always

[Install]
WantedBy=default.target